// import
@import 'src/styles/_vars.scss';

.app {
    margin: 1em auto;
    text-align: center;
    width: 400px;
    height: 300+250;
    padding: 1rem;
    background-color: $alternative;
    font-family: 'Spartan', sans-serif;
}